
nav .active{
     border: 1px solid red;
     padding: 5px;
}

.btnStyle{
   width:100%;
   margin: 5px auto !important;
   text-transform: none !important;
   font-size: 18px !important;
}


.sadfh{
   display: flex;
   flex-direction: column;
   height: 100px;

}
